body {
    font-family: 'Helvetica', sans-serif;
    background-color: #f4f4f4;
    color: #515050;
    margin: 0;
    padding: 0;
}

header {
    background-color: #18567D;
    color: white;
    padding: 30px 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

p {
    margin: 5px 0 0 0;
    font-size: 1rem;
}

.status-form {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    gap: 10px;
}

.status-form input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #18567D;
    border-radius: 4px;
    width: 200px;
}

.status-form button {
    background-color: #18567D;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.status-form button:hover {
    background-color: #0e3249;
}

h3#train-status {
    text-align: center;
    color: #FF4136;
    font-weight: bold;
    margin-top: 10px;
}

table {
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

th, td {
    padding: 12px 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

th {
    background-color: #0074D9;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

a {
    color: #0074D9;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  max-width: 300px;
  background-color: #333;
  color: #fff;
  text-align: left;
  padding: 5px 8px;
  border-radius: 4px;
  font-size: 12px;

  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}